USE [master]
GO
/****** Object:  Database [PaginaVentasVideojuegos]    Script Date: 30/03/2023 08:35:33 p. m. ******/
CREATE DATABASE [PaginaVentasVideojuegos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaginaVentasVideojuegosDatos', FILENAME = N'C:\DB\PaginaVentasVideojuegosDatos.mdf' , SIZE = 10240KB , MAXSIZE = 20480KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'PaginaVentasVideojuegosLog', FILENAME = N'C:\DB\PaginaVentasVideojuegosLog.ldf' , SIZE = 10240KB , MAXSIZE = UNLIMITED , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaginaVentasVideojuegos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaginaVentasVideojuegos]
GO
USE [PaginaVentasVideojuegos]
GO
/****** Object:  Sequence [dbo].[SequenceNoFactura]    Script Date: 30/03/2023 08:35:33 p. m. ******/
CREATE SEQUENCE [dbo].[SequenceNoFactura] 
 AS [int]
 START WITH 100
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[CANTON]    Script Date: 30/03/2023 08:35:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTON](
	[ID] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_USUARIO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_USUARIO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] NOT NULL,
	[APELLIDO2] [varchar](50) NULL,
	[APELLIDO1] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[ID_DISTRITO] [int] NULL,
	[ID_PROVINCIA] [int] NULL,
	[ID_CANTON] [int] NULL,
	[CODIGO_POSTAL] [varchar](50) NULL,
	[COMENTARIO] [varchar](50) NULL,
 CONSTRAINT [PK__CLIENTE__3214EC27787DD2E4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORREO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREO](
	[CORREO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CORREO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[ID_ORDEN] [int] NOT NULL,
	[ID_DETALLE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL_DETALLE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC,
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[ID_CANTON] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_PROVINCIA] ASC,
	[ID_CANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DESEOS]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DESEOS](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID] [int] NOT NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [money] NULL,
	[SUBTOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[CANTIDAD_INVENTARIO] [int] NULL,
	[DESCUENTO] [money] NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRECIO_COLONES] [money] NULL,
	[PRECIO_DOLARES] [money] NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK__PRODUCTO__3214EC271408EB8E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[ID] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ADELANTO] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[TELEFONO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TELEFONO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
	[ID_CATEGORIA] [int] NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANTON]  WITH CHECK ADD  CONSTRAINT [FK_CANTON_PROVINCIA] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([ID])
GO
ALTER TABLE [dbo].[CANTON] CHECK CONSTRAINT [FK_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DISTRITO_CANTON_PROVINCIA] FOREIGN KEY([ID_DISTRITO], [ID_PROVINCIA], [ID_CANTON])
REFERENCES [dbo].[DISTRITO] ([ID], [ID_PROVINCIA], [ID_CANTON])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_DISTRITO_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CORREO]  WITH CHECK ADD  CONSTRAINT [FK_CORREO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[CORREO] CHECK CONSTRAINT [FK_CORREO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_ORDEN] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_ORDEN]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[DISTRITO]  WITH CHECK ADD  CONSTRAINT [FK_DISTRITO_CANTON_PROVINCIA] FOREIGN KEY([ID_CANTON], [ID_PROVINCIA])
REFERENCES [dbo].[CANTON] ([ID], [ID_PROVINCIA])
GO
ALTER TABLE [dbo].[DISTRITO] CHECK CONSTRAINT [FK_DISTRITO_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TELEFONO] CHECK CONSTRAINT [FK_TELEFONO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_CLIENTE]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_CLIENTE]
(@ID int)
AS 
 	Delete from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_TELEFONO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_TELEFONO]
(@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 	Delete from TELEFONO
	Where (TELEFONO =  @TELEFONO)  AND (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_USUARIO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_USUARIO]
(@USUARIO varchar(50))
AS 
 	Delete from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_CLIENTE]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50), 
 @ID_DISTRITO int,@ID_PROVINCIA int,@ID_CANTON int,@CODIGO_POSTAL varchar(50),@COMENTARIO varchar(50))
AS 
 insert into CLIENTE(ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_DISTRITO ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO ) 
 values(@ID ,@APELLIDO2 ,@APELLIDO1 ,@NOMBRE ,@DIRECCION ,@ID_DISTRITO ,@ID_PROVINCIA ,@ID_CANTON ,@CODIGO_POSTAL ,
 @COMENTARIO  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_TELEFONO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_TELEFONO]
 (@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 insert into TELEFONO(TELEFONO ,ID_CLIENTE ) 
 values(@TELEFONO ,@ID_CLIENTE  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_USUARIO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 insert into USUARIO(USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN ) 
 values(@USUARIO ,@PASSWORD ,@ID_CATEGORIA ,@IMAGEN  )
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CANTON_All]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CANTON_All]
 AS 
 	Select ID ,ID_PROVINCIA ,DESCRIPCION  from CANTON
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_All]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_All]
 AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_DISTRITO ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO  
	from CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByFilter]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByFilter]
(@filtro varchar(50))
As
	Select * 
	from CLIENTE 
	where NOMBRE + APELLIDO1 + APELLIDO2 like @filtro
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByID]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByID] 
(@ID int)
AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_DISTRITO ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO  
	from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PROVINCIA_All]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PROVINCIA_All]
 AS 
 	Select ID ,DESCRIPCION  from PROVINCIA
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_All]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_All]
 AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByFilter]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByFilter] 
(@TELEFONO varchar(50))
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (TELEFONO =  @TELEFONO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByID]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByID] 
(@ID_CLIENTE int)
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_All]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_All]
 AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_ByUsuario]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_ByUsuario]
(@USUARIO varchar(50))
AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_CLIENTE]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50), 
 @ID_DISTRITO int, @ID_PROVINCIA int, @ID_CANTON int, @CODIGO_POSTAL varchar(50) ,@COMENTARIO varchar(50))
AS 
 	Update  CLIENTE
	Set 	APELLIDO2 =  @APELLIDO2  ,
	APELLIDO1 =  @APELLIDO1  ,
	NOMBRE =  @NOMBRE  ,
	DIRECCION =  @DIRECCION  ,
	ID_DISTRITO =  @ID_DISTRITO  ,
	ID_PROVINCIA =  @ID_PROVINCIA  ,
	ID_CANTON =  @ID_CANTON  ,
	CODIGO_POSTAL =  @CODIGO_POSTAL  ,
	COMENTARIO =  @COMENTARIO  
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_TELEFONO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_TELEFONO]
(@TelefonoNuevo varchar(50), @IdClienteNuevo int, @TelefonoViejo varchar(50), @IdClienteViejo int)
AS
	Update TELEFONO Set TELEFONO = @TelefonoNuevo, ID_CLIENTE = @IdClienteNuevo
            where TELEFONO = @TelefonoViejo and ID_CLIENTE = @IdClienteViejo
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_USUARIO]    Script Date: 30/03/2023 08:35:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 	Update  USUARIO
	Set 	PASSWORD =  @PASSWORD  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	IMAGEN =  @IMAGEN  
	Where (USUARIO =  @USUARIO)  
GO
USE [master]
GO
