USE [master]
GO
/****** Object:  Database [PaginaVentasVideojuegos]    Script Date: 18/04/2023 11:57:01 p. m. ******/
CREATE DATABASE [PaginaVentasVideojuegos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaginaVentasVideojuegosDatos', FILENAME = N'C:\DB\PaginaVentasVideojuegosDatos.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'PaginaVentasVideojuegosLog', FILENAME = N'C:\DB\PaginaVentasVideojuegosLog.ldf' , SIZE = 22208KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaginaVentasVideojuegos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaginaVentasVideojuegos]
GO
USE [PaginaVentasVideojuegos]
GO
/****** Object:  Sequence [dbo].[SequenceNoFactura]    Script Date: 18/04/2023 11:57:01 p. m. ******/
CREATE SEQUENCE [dbo].[SequenceNoFactura] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [PaginaVentasVideojuegos]
GO
/****** Object:  Sequence [dbo].[SequenceNoReservacion]    Script Date: 18/04/2023 11:57:01 p. m. ******/
CREATE SEQUENCE [dbo].[SequenceNoReservacion] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[CANTON]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTON](
	[ID] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_USUARIO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_USUARIO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] NOT NULL,
	[APELLIDO2] [varchar](50) NULL,
	[APELLIDO1] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[ID_PROVINCIA] [int] NULL,
	[ID_CANTON] [int] NULL,
	[CODIGO_POSTAL] [varchar](50) NULL,
	[COMENTARIO] [varchar](50) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__CLIENTE__3214EC27787DD2E4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORREO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREO](
	[CORREO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CORREO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[ID_ORDEN] [int] NOT NULL,
	[ID_DETALLE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL_DETALLE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC,
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VIDEOJUEGO](
	[ID_ORDEN] [int] NOT NULL,
	[ID_DETALLE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC,
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DESEOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DESEOS](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DESEOS_VIDEOJUEGOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DESEOS_VIDEOJUEGOS](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID] [int] NOT NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [money] NULL,
	[SUBTOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA_VIDEOJUEGO](
	[ID] [int] NOT NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [money] NULL,
	[SUBTOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[CANTIDAD_INVENTARIO] [int] NULL,
	[DESCUENTO] [money] NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRECIO_COLONES] [money] NULL,
	[PRECIO_DOLARES] [money] NULL,
	[IMAGEN] [varbinary](max) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__PRODUCTO__3214EC271408EB8E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[ID] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ADELANTO] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION_VIDEOJUEGO](
	[ID] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ADELANTO] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[TELEFONO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TELEFONO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](max) NULL,
	[ID_CATEGORIA] [int] NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOJUEGO](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[CANTIDAD_INVENTARIO] [int] NULL,
	[DESCUENTO] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRECIO_COLONES] [money] NULL,
	[PRECIO_DOLARES] [money] NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[FECHA_SALIDA] [date] NULL,
	[NOTA] [float] NULL,
	[ESTADO] [int] NULL,
	[IMAGEN] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANTON]  WITH CHECK ADD  CONSTRAINT [FK_CANTON_PROVINCIA] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([ID])
GO
ALTER TABLE [dbo].[CANTON] CHECK CONSTRAINT [FK_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_CANTON_PROVINCIA] FOREIGN KEY([ID_CANTON], [ID_PROVINCIA])
REFERENCES [dbo].[CANTON] ([ID], [ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CORREO]  WITH CHECK ADD  CONSTRAINT [FK_CORREO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[CORREO] CHECK CONSTRAINT [FK_CORREO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_ORDEN] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_ORDEN]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLE_VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VIDEOJUEGO_ID_ORDEN_VIDEOJUEGO] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDEN_COMPRA_VIDEOJUEGO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE_VIDEOJUEGO] CHECK CONSTRAINT [FK_DETALLE_VIDEOJUEGO_ID_ORDEN_VIDEOJUEGO]
GO
ALTER TABLE [dbo].[DETALLE_VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VIDEOJUEGO_ID_VIDEOJUEGO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[VIDEOJUEGO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE_VIDEOJUEGO] CHECK CONSTRAINT [FK_DETALLE_VIDEOJUEGO_ID_VIDEOJUEGO]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[LISTA_DESEOS_VIDEOJUEGOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_VIDEOJUEGO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS_VIDEOJUEGOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_VIDEOJUEGO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[LISTA_DESEOS_VIDEOJUEGOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_VIDEOJUEGO_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[VIDEOJUEGO] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS_VIDEOJUEGOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_VIDEOJUEGO_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA_VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_VIDEOJUEGO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA_VIDEOJUEGO] CHECK CONSTRAINT [FK_ORDEN_COMPRA_VIDEOJUEGO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[RESERVACION_VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_VIDEOJUEGO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION_VIDEOJUEGO] CHECK CONSTRAINT [FK_RESERVACION_VIDEOJUEGO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVACION_VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_VIDEOJUEGO_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[VIDEOJUEGO] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION_VIDEOJUEGO] CHECK CONSTRAINT [FK_RESERVACION_VIDEOJUEGO_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TELEFONO] CHECK CONSTRAINT [FK_TELEFONO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO]
GO
ALTER TABLE [dbo].[VIDEOJUEGO]  WITH CHECK ADD  CONSTRAINT [FK_VIDEOJUEGO_ID_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[VIDEOJUEGO] CHECK CONSTRAINT [FK_VIDEOJUEGO_ID_CATEGORIA]
GO
/****** Object:  StoredProcedure [dbo].[GetCurrentNumeroFactura]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCurrentNumeroFactura]
AS
	Select current_value from sys.sequences where name = 'SequenceNoFactura'
GO
/****** Object:  StoredProcedure [dbo].[GetCurrentNumeroReservacion]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCurrentNumeroReservacion]
AS
	Select current_value from sys.sequences where name = 'SequenceNoReservacion'
GO
/****** Object:  StoredProcedure [dbo].[GetFactura]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFactura]
(@IdOrdenCompra int)
AS
	Select ORDEN_COMPRA.ID, ORDEN_COMPRA.FECHA_ORDEN, ORDEN_COMPRA.ID_CLIENTE, ORDEN_COMPRA.TOTAL,
	ORDEN_COMPRA.SUBTOTAL, DETALLE.ID_ORDEN, DETALLE.ID_DETALLE, DETALLE.ID_PRODUCTO, DETALLE.CANTIDAD, 
	DETALLE.TOTAL_DETALLE
    from ORDEN_COMPRA INNER JOIN DETALLE ON ORDEN_COMPRA.ID = DETALLE.ID_ORDEN
    where ORDEN_COMPRA.ID = @IdOrdenCompra
GO
/****** Object:  StoredProcedure [dbo].[GetFacturaVideojuego]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFacturaVideojuego]
(@IdOrdenCompra int)
AS
	Select ORDEN_COMPRA_VIDEOJUEGO.ID, ORDEN_COMPRA_VIDEOJUEGO.FECHA_ORDEN, ORDEN_COMPRA_VIDEOJUEGO.ID_CLIENTE, 
	ORDEN_COMPRA_VIDEOJUEGO.TOTAL, ORDEN_COMPRA_VIDEOJUEGO.SUBTOTAL, DETALLE_VIDEOJUEGO.ID_ORDEN, DETALLE_VIDEOJUEGO.ID_DETALLE, 
	DETALLE_VIDEOJUEGO.ID_PRODUCTO, DETALLE_VIDEOJUEGO.CANTIDAD, DETALLE_VIDEOJUEGO.TOTAL
    from ORDEN_COMPRA_VIDEOJUEGO INNER JOIN DETALLE_VIDEOJUEGO ON ORDEN_COMPRA_VIDEOJUEGO.ID = DETALLE_VIDEOJUEGO.ID_ORDEN
    where ORDEN_COMPRA_VIDEOJUEGO.ID = @IdOrdenCompra
GO
/****** Object:  StoredProcedure [dbo].[GetNextNumeroFactura]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNextNumeroFactura]
AS
	SELECT NEXT VALUE FOR SequenceNoFactura
GO
/****** Object:  StoredProcedure [dbo].[GetNextNumeroReservacion]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNextNumeroReservacion]
AS
	SELECT NEXT VALUE FOR SequenceNoReservacion
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalle]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDetalle]
(@ID_ORDEN int, @ID_DETALLE int, @ID_PRODUCTO int, @CANTIDAD int, @TOTAL_DETALLE money)
AS
	Insert into DETALLE values (@ID_ORDEN, @ID_DETALLE, @ID_PRODUCTO, @CANTIDAD, @TOTAL_DETALLE )
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalleVideojuego]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDetalleVideojuego]
(@ID_ORDEN int, @ID_DETALLE int, @ID_PRODUCTO int, @CANTIDAD int, @TOTAL_DETALLE money)
AS
	Insert into DETALLE_VIDEOJUEGO values (@ID_ORDEN, @ID_DETALLE, @ID_PRODUCTO, @CANTIDAD, @TOTAL_DETALLE )
GO
/****** Object:  StoredProcedure [dbo].[InsertarEncabezado]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEncabezado]
(@ID int, @FECHA_ORDEN date, @ID_CLIENTE int, @TOTAL money, @SUBTOTAL money)
AS
	insert into ORDEN_COMPRA values (@ID, @FECHA_ORDEN, @ID_CLIENTE, @TOTAL, @SUBTOTAL)
GO
/****** Object:  StoredProcedure [dbo].[InsertarEncabezadoVideojuego]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEncabezadoVideojuego]
(@ID int, @FECHA_ORDEN date, @ID_CLIENTE int, @TOTAL money, @SUBTOTAL money)
AS
	insert into ORDEN_COMPRA_VIDEOJUEGO values (@ID, @FECHA_ORDEN, @ID_CLIENTE, @TOTAL, @SUBTOTAL)
GO
/****** Object:  StoredProcedure [dbo].[PA_AUMENTAR_CANTIDAD_PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_AUMENTAR_CANTIDAD_PRODUCTO]
(@ID int)
AS
	UPDATE PRODUCTO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO + 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_AUMENTAR_CANTIDAD_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_AUMENTAR_CANTIDAD_VIDEOJUEGO]
(@ID int)
AS
	UPDATE VIDEOJUEGO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO + 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_BORRADO_LOGICO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_BORRADO_LOGICO]
(@ID int)
AS
	UPDATE CLIENTE
	SET ESTADO = 0
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_BORRADO_LOGICO_PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_BORRADO_LOGICO_PRODUCTO]
(@ID int)
AS
	UPDATE PRODUCTO
	SET ESTADO = 0
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_BORRADO_LOGICO_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_BORRADO_LOGICO_VIDEOJUEGO]
(@ID int)
AS
	UPDATE VIDEOJUEGO
	SET ESTADO = 0
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_CLIENTE]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_CLIENTE]
(@ID int)
AS 
 	Delete from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_CORREO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_CORREO_ByID] 
(@CORREO varchar(50),@ID_CLIENTE int)
AS 
 	Delete from CORREO
	Where (CORREO =  @CORREO)  AND (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_LISTA_DESEOS_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_LISTA_DESEOS_ByID] 
(@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 	Delete from LISTA_DESEOS
	Where (ID_CLIENTE =  @ID_CLIENTE)  AND (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_LISTA_DESEOS_VIDEOJUEGO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_LISTA_DESEOS_VIDEOJUEGO_ByID] 
(@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 	Delete from LISTA_DESEOS_VIDEOJUEGOS
	Where (ID_CLIENTE =  @ID_CLIENTE)  AND (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_PRODUCTO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_PRODUCTO_ByID] 
(@ID int)
AS 
 	Delete from PRODUCTO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_RESERVACION_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_RESERVACION_ByID] 
(@ID int)
AS 
 	Delete from RESERVACION
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_RESERVACION_VIDEOJUEGO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_RESERVACION_VIDEOJUEGO_ByID] 
(@ID int)
AS 
 	Delete from RESERVACION_VIDEOJUEGO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_TELEFONO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_TELEFONO]
(@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 	Delete from TELEFONO
	Where (TELEFONO =  @TELEFONO)  AND (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_USUARIO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_USUARIO]
(@USUARIO varchar(50))
AS 
 	Delete from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_VIDEOJUEGO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_VIDEOJUEGO_ByID] 
(@ID int)
AS 
 	Delete from VIDEOJUEGO
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_DISMINUIR_CANTIDAD_PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DISMINUIR_CANTIDAD_PRODUCTO]
(@ID int)
AS
	UPDATE PRODUCTO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO - 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_DISMINUIR_CANTIDAD_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DISMINUIR_CANTIDAD_VIDEOJUEGO]
(@ID int)
AS
	UPDATE VIDEOJUEGO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO - 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_CLIENTE]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50),@ID_PROVINCIA int,@ID_CANTON int,@CODIGO_POSTAL varchar(50),@COMENTARIO varchar(50), @ESTADO int)
AS 
 insert into CLIENTE(ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO ) 
 values(@ID ,@APELLIDO2 ,@APELLIDO1 ,@NOMBRE ,@DIRECCION ,@ID_PROVINCIA ,@ID_CANTON ,@CODIGO_POSTAL ,
 @COMENTARIO, @ESTADO  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_CORREO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_CORREO]
 (@CORREO varchar(50),@ID_CLIENTE int)
AS 
 insert into CORREO(CORREO ,ID_CLIENTE ) 
 values(@CORREO ,@ID_CLIENTE  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_LISTA_DESEOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_LISTA_DESEOS]
 (@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 insert into LISTA_DESEOS(ID_CLIENTE ,ID_PRODUCTO ) 
 values(@ID_CLIENTE ,@ID_PRODUCTO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_LISTA_DESEOS_RESERVACION]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_LISTA_DESEOS_RESERVACION]
 (@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 insert into LISTA_DESEOS_VIDEOJUEGOS(ID_CLIENTE ,ID_PRODUCTO ) 
 values(@ID_CLIENTE ,@ID_PRODUCTO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_LISTA_DESEOS_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_LISTA_DESEOS_VIDEOJUEGO]
 (@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 insert into LISTA_DESEOS_VIDEOJUEGOS(ID_CLIENTE ,ID_PRODUCTO ) 
 values(@ID_CLIENTE ,@ID_PRODUCTO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_PRODUCTO]
 (@ID int, @DESCRIPCION varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO money,@ID_CATEGORIA int,@PRECIO_COLONES money,@PRECIO_DOLARES money,@IMAGEN varbinary(MAX), @ESTADO int)
AS 
 insert into PRODUCTO(ID ,DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN, ESTADO ) 
 values(@ID ,@DESCRIPCION ,@CANTIDAD_INVENTARIO ,@DESCUENTO ,@ID_CATEGORIA ,@PRECIO_COLONES ,@PRECIO_DOLARES ,@IMAGEN, @ESTADO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_RESERVACION]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_RESERVACION]
 (@ID int,@ID_CLIENTE int,@ID_PRODUCTO int,@ADELANTO money)
AS 
 insert into RESERVACION(ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO ) 
 values(@ID ,@ID_CLIENTE ,@ID_PRODUCTO ,@ADELANTO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_RESERVACION_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_RESERVACION_VIDEOJUEGO]
 (@ID int,@ID_CLIENTE int,@ID_PRODUCTO int,@ADELANTO money)
AS 
 insert into RESERVACION_VIDEOJUEGO(ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO ) 
 values(@ID ,@ID_CLIENTE ,@ID_PRODUCTO ,@ADELANTO  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_TELEFONO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_TELEFONO]
 (@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 insert into TELEFONO(TELEFONO ,ID_CLIENTE ) 
 values(@TELEFONO ,@ID_CLIENTE  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_USUARIO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 insert into USUARIO(USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN ) 
 values(@USUARIO ,@PASSWORD ,@ID_CATEGORIA ,@IMAGEN  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_VIDEOJUEGO]
 (@ID int,@NOMBRE varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO int,@ID_CATEGORIA int,@PRECIO_COLONES money,@PRECIO_DOLARES money,
 @DESCRIPCION varchar(50),@FECHA_SALIDA date,@NOTA float, @ESTADO int, @IMAGEN varbinary(MAX))
AS 
 insert into VIDEOJUEGO(ID ,NOMBRE ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,DESCRIPCION ,
 FECHA_SALIDA ,NOTA, ESTADO, IMAGEN ) 
 values(@ID ,@NOMBRE ,@CANTIDAD_INVENTARIO ,@DESCUENTO ,@ID_CATEGORIA ,@PRECIO_COLONES ,@PRECIO_DOLARES ,@DESCRIPCION ,
 @FECHA_SALIDA ,@NOTA, @ESTADO, @IMAGEN  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_REPORTE_FACTURA_PRODUCTOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_REPORTE_FACTURA_PRODUCTOS]
(@ID int)
AS
	SELECT ORDEN_COMPRA.ID, CLIENTE.ID, (CLIENTE.NOMBRE + ' ' + CLIENTE.APELLIDO1 + ' ' + CLIENTE.APELLIDO2) as Nombre,
	GETDATE(), DETALLE.ID_DETALLE, DETALLE.ID_PRODUCTO, PRODUCTO.DESCRIPCION, DETALLE.CANTIDAD,
	PRODUCTO.DESCUENTO ,DETALLE.TOTAL_DETALLE, ORDEN_COMPRA.SUBTOTAL, ORDEN_COMPRA.TOTAL
	FROM CLIENTE, PRODUCTO, ORDEN_COMPRA, DETALLE
	where ORDEN_COMPRA.ID_CLIENTE = CLIENTE.ID and DETALLE.ID_ORDEN = ORDEN_COMPRA.ID and 
	DETALLE.ID_PRODUCTO = PRODUCTO.ID and ORDEN_COMPRA.ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CANTON_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CANTON_All]
 AS 
 	Select ID ,ID_PROVINCIA ,DESCRIPCION  from CANTON
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_All]
 AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO  
	from CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByFilter]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByFilter]
(@filtro varchar(50))
As
	Select * 
	from CLIENTE 
	where NOMBRE + APELLIDO1 + APELLIDO2 like @filtro
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByID] 
(@ID int)
AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO  
	from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_All]
 AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_ByID] 
(@ID_CLIENTE int)
AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_Filter]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_Filter]
(@CORREO varchar(50))
AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
	Where (CORREO =  @CORREO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS]
(@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS
	Where (ID_CLIENTE =  @ID_CLIENTE)  AND (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_All]
 AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_ByIdCliente]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_ByIdCliente]
(@ID_CLIENTE int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_ByIdProducto]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_ByIdProducto]
(@ID_PRODUCTO int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS
	Where (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO]
(@ID_CLIENTE int,@ID_PRODUCTO int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS_VIDEOJUEGOS
	Where (ID_CLIENTE =  @ID_CLIENTE)  AND (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_All]
 AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS_VIDEOJUEGOS
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_ByIdCliente]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_ByIdCliente]
(@ID_CLIENTE int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS_VIDEOJUEGOS
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_ByIdProducto]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_LISTA_DESEOS_VIDEOJUEGO_ByIdProducto]
(@ID_PRODUCTO int)
AS 
 	Select ID_CLIENTE ,ID_PRODUCTO  from LISTA_DESEOS_VIDEOJUEGOS
	Where (ID_PRODUCTO =  @ID_PRODUCTO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_All]
 AS 
 	Select ID, DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN, ESTADO  from PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_ByDescripcion]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_ByDescripcion] 
(@filtro varchar(50))
AS 
 	Select ID ,DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN, ESTADO  from PRODUCTO
	Where (DESCRIPCION = @filtro)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_ByID] 
(@ID int)
AS 
 	Select ID ,DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN, ESTADO  from PRODUCTO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PROVINCIA_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PROVINCIA_All]
 AS 
 	Select ID ,DESCRIPCION  from PROVINCIA
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_All]
 AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_ByID] 
(@ID int)
AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_ByIdCliente]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_ByIdCliente]
(@ID_CLIENTE int)
AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_All]
 AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION_VIDEOJUEGO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_ByID] 
(@ID int)
AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION_VIDEOJUEGO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_ByIdCliente]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_RESERVACION_VIDEOJUEGO_ByIdCliente]
(@ID_CLIENTE int)
AS 
 	Select ID ,ID_CLIENTE ,ID_PRODUCTO ,ADELANTO  from RESERVACION_VIDEOJUEGO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_All]
 AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByFilter]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByFilter] 
(@TELEFONO varchar(50))
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (TELEFONO =  @TELEFONO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByID] 
(@ID_CLIENTE int)
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_All]
 AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_ByUsuario]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_ByUsuario]
(@USUARIO varchar(50))
AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_VIDEOJUEGO_All]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_VIDEOJUEGO_All]
 AS 
 	Select ID ,NOMBRE ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,DESCRIPCION ,FECHA_SALIDA ,NOTA, ESTADO, IMAGEN  from VIDEOJUEGO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_VIDEOJUEGO_ByID]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_VIDEOJUEGO_ByID] 
(@ID int)
AS 
 	Select ID ,NOMBRE ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,DESCRIPCION ,FECHA_SALIDA ,NOTA, ESTADO, IMAGEN  from VIDEOJUEGO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_CLIENTE]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50), @ID_PROVINCIA int, @ID_CANTON int, @CODIGO_POSTAL varchar(50) ,@COMENTARIO varchar(50), @ESTADO int)
AS 
 	Update  CLIENTE
	Set 	APELLIDO2 =  @APELLIDO2  ,
	APELLIDO1 =  @APELLIDO1  ,
	NOMBRE =  @NOMBRE  ,
	DIRECCION =  @DIRECCION  ,
	ID_PROVINCIA =  @ID_PROVINCIA  ,
	ID_CANTON =  @ID_CANTON  ,
	CODIGO_POSTAL =  @CODIGO_POSTAL  ,
	COMENTARIO =  @COMENTARIO  ,
	ESTADO = @ESTADO
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_CORREO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_CORREO]
(@CORREO_VIEJO varchar(50), @ID_CLIENTE_VIEJO int, @CORREO_NUEVO varchar(50), @ID_CLIENTE_NUEVO int)
AS
	Update CORREO
	SET CORREO.CORREO = @CORREO_NUEVO, CORREO.ID_CLIENTE = @ID_CLIENTE_NUEVO
	where CORREO.CORREO = @CORREO_VIEJO and CORREO.ID_CLIENTE = @ID_CLIENTE_VIEJO
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_LISTA_DESEOS]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_LISTA_DESEOS]
(@ID_CLIENTE int, @ID_PRODUCTO int)
AS
	Update LISTA_DESEOS SET ID_CLIENTE = @ID_CLIENTE, 
            ID_PRODUCTO = @ID_PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_LISTA_DESEOS_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_LISTA_DESEOS_VIDEOJUEGO]
(@ID_CLIENTE int, @ID_PRODUCTO int)
AS
	Update LISTA_DESEOS_VIDEOJUEGOS SET ID_CLIENTE = @ID_CLIENTE, 
            ID_PRODUCTO = @ID_PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_PRODUCTO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_PRODUCTO]
 (@ID int,@DESCRIPCION varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO money,@ID_CATEGORIA int,@PRECIO_COLONES money,@PRECIO_DOLARES money,@IMAGEN varbinary(MAX), @ESTADO int)
AS 
 	Update  PRODUCTO
	Set 	DESCRIPCION =  @DESCRIPCION  ,
	CANTIDAD_INVENTARIO =  @CANTIDAD_INVENTARIO  ,
	DESCUENTO =  @DESCUENTO  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	PRECIO_COLONES =  @PRECIO_COLONES  ,
	PRECIO_DOLARES =  @PRECIO_DOLARES  ,
	IMAGEN =  @IMAGEN  ,
	ESTADO = @ESTADO
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_RESERVACION]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_RESERVACION]
 (@ID int,@ID_CLIENTE int,@ID_PRODUCTO int,@ADELANTO money)
AS 
 	Update  RESERVACION
	Set 	ID_CLIENTE =  @ID_CLIENTE  ,
	ID_PRODUCTO =  @ID_PRODUCTO  ,
	ADELANTO =  @ADELANTO  
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_RESERVACION_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_RESERVACION_VIDEOJUEGO]
 (@ID int,@ID_CLIENTE int,@ID_PRODUCTO int,@ADELANTO money)
AS 
 	Update  RESERVACION_VIDEOJUEGO
	Set 	ID_CLIENTE =  @ID_CLIENTE  ,
	ID_PRODUCTO =  @ID_PRODUCTO  ,
	ADELANTO =  @ADELANTO  
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_TELEFONO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_TELEFONO]
(@TelefonoNuevo varchar(50), @IdClienteNuevo int, @TelefonoViejo varchar(50), @IdClienteViejo int)
AS
	Update TELEFONO Set TELEFONO = @TelefonoNuevo, ID_CLIENTE = @IdClienteNuevo
            where TELEFONO = @TelefonoViejo and ID_CLIENTE = @IdClienteViejo
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_USUARIO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 	Update  USUARIO
	Set 	PASSWORD =  @PASSWORD  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	IMAGEN =  @IMAGEN  
	Where (USUARIO =  @USUARIO)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_VIDEOJUEGO]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_VIDEOJUEGO]
 (@ID int,@NOMBRE varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO int,@ID_CATEGORIA int,@PRECIO_COLONES money,
 @PRECIO_DOLARES money,@DESCRIPCION varchar(50),@FECHA_SALIDA date,@NOTA float, @ESTADO int, @IMAGEN varbinary(MAX))
AS 
 	Update  VIDEOJUEGO
	Set 	NOMBRE =  @NOMBRE  ,
	CANTIDAD_INVENTARIO =  @CANTIDAD_INVENTARIO  ,
	DESCUENTO =  @DESCUENTO  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	PRECIO_COLONES =  @PRECIO_COLONES  ,
	PRECIO_DOLARES =  @PRECIO_DOLARES  ,
	DESCRIPCION =  @DESCRIPCION  ,
	FECHA_SALIDA =  @FECHA_SALIDA  ,
	NOTA =  @NOTA  ,
	ESTADO = @ESTADO,
	IMAGEN = @IMAGEN
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[RestarCantidadProductos]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestarCantidadProductos]
(@ID int, @CANTIDAD int)
AS
	Update PRODUCTO 
    SET CANTIDAD_INVENTARIO = CANTIDAD_INVENTARIO - @CANTIDAD
    where ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[RestarCantidadVideojuego]    Script Date: 18/04/2023 11:57:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestarCantidadVideojuego]
(@ID int, @CANTIDAD int)
AS
	Update VIDEOJUEGO
    SET CANTIDAD_INVENTARIO = CANTIDAD_INVENTARIO - @CANTIDAD
    where ID = @ID
GO
USE [master]
GO
