USE [PaginaVentasVideojuegos]
GO
/****** Object:  Table [dbo].[CANTON]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANTON](
	[ID] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_USUARIO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_USUARIO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] NOT NULL,
	[APELLIDO2] [varchar](50) NULL,
	[APELLIDO1] [varchar](50) NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[ID_PROVINCIA] [int] NULL,
	[ID_CANTON] [int] NULL,
	[CODIGO_POSTAL] [varchar](50) NULL,
	[COMENTARIO] [varchar](50) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__CLIENTE__3214EC27787DD2E4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORREO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORREO](
	[CORREO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CORREO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[ID_ORDEN] [int] NOT NULL,
	[ID_DETALLE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[TOTAL_DETALLE] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC,
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DESEOS]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DESEOS](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_COMPRA]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_COMPRA](
	[ID] [int] NOT NULL,
	[FECHA_ORDEN] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [money] NULL,
	[SUBTOTAL] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[CANTIDAD_INVENTARIO] [int] NULL,
	[DESCUENTO] [money] NULL,
	[ID_CATEGORIA] [int] NULL,
	[PRECIO_COLONES] [money] NULL,
	[PRECIO_DOLARES] [money] NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK__PRODUCTO__3214EC271408EB8E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIA]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[ID] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ADELANTO] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[TELEFONO] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TELEFONO] ASC,
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](max) NULL,
	[ID_CATEGORIA] [int] NULL,
	[IMAGEN] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIO_1] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANTON]  WITH CHECK ADD  CONSTRAINT [FK_CANTON_PROVINCIA] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIA] ([ID])
GO
ALTER TABLE [dbo].[CANTON] CHECK CONSTRAINT [FK_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_CANTON_PROVINCIA] FOREIGN KEY([ID_CANTON], [ID_PROVINCIA])
REFERENCES [dbo].[CANTON] ([ID], [ID_PROVINCIA])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_CANTON_PROVINCIA]
GO
ALTER TABLE [dbo].[CORREO]  WITH CHECK ADD  CONSTRAINT [FK_CORREO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[CORREO] CHECK CONSTRAINT [FK_CORREO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_ORDEN] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDEN_COMPRA] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_ORDEN]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DETALLE_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_CLIENTE]
GO
ALTER TABLE [dbo].[LISTA_DESEOS]  WITH CHECK ADD  CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[LISTA_DESEOS] CHECK CONSTRAINT [FK_LISTA_DESEOS_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[ORDEN_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[ORDEN_COMPRA] CHECK CONSTRAINT [FK_ORDEN_COMPRA_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_ID_CATEGORIA]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_ID_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_ID_PRODUCTO]
GO
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[TELEFONO] CHECK CONSTRAINT [FK_TELEFONO_ID_CLIENTE]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA_USUARIO] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CATEGORIA_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[GetCurrentNumeroFactura]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCurrentNumeroFactura]
AS
	Select current_value from sys.sequences where name = 'SequenceNoFactura'
GO
/****** Object:  StoredProcedure [dbo].[GetFactura]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFactura]
(@IdOrdenCompra int)
AS
	Select ORDEN_COMPRA.ID, ORDEN_COMPRA.FECHA_ORDEN, ORDEN_COMPRA.ID_CLIENTE, ORDEN_COMPRA.TOTAL,
	ORDEN_COMPRA.SUBTOTAL, DETALLE.ID_ORDEN, DETALLE.ID_DETALLE, DETALLE.ID_PRODUCTO, DETALLE.CANTIDAD, 
	DETALLE.TOTAL_DETALLE
    from ORDEN_COMPRA INNER JOIN DETALLE ON ORDEN_COMPRA.ID = DETALLE.ID_ORDEN
    where ORDEN_COMPRA.ID = @IdOrdenCompra
GO
/****** Object:  StoredProcedure [dbo].[GetNextNumeroFactura]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetNextNumeroFactura]
AS
	SELECT NEXT VALUE FOR SequenceNoFactura
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalle]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDetalle]
(@ID_ORDEN int, @ID_DETALLE int, @ID_PRODUCTO int, @CANTIDAD int, @TOTAL_DETALLE money)
AS
	Insert into DETALLE values (@ID_ORDEN, @ID_DETALLE, @ID_PRODUCTO, @CANTIDAD, @TOTAL_DETALLE )
GO
/****** Object:  StoredProcedure [dbo].[InsertarEncabezado]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEncabezado]
(@ID int, @FECHA_ORDEN date, @ID_CLIENTE int, @TOTAL money, @SUBTOTAL money)
AS
	insert into ORDEN_COMPRA values (@ID, @FECHA_ORDEN, @ID_CLIENTE, @TOTAL, @SUBTOTAL)
GO
/****** Object:  StoredProcedure [dbo].[PA_AUMENTAR_CANTIDAD_PRODUCTO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_AUMENTAR_CANTIDAD_PRODUCTO]
(@ID int)
AS
	UPDATE PRODUCTO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO + 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_BORRADO_LOGICO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_BORRADO_LOGICO]
(@ID int)
AS
	UPDATE CLIENTE
	SET ESTADO = 0
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_CLIENTE]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_CLIENTE]
(@ID int)
AS 
 	Delete from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_CORREO_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_CORREO_ByID] 
(@CORREO varchar(50),@ID_CLIENTE int)
AS 
 	Delete from CORREO
	Where (CORREO =  @CORREO)  AND (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_PRODUCTO_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_PRODUCTO_ByID] 
(@ID int)
AS 
 	Delete from PRODUCTO
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_TELEFONO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_TELEFONO]
(@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 	Delete from TELEFONO
	Where (TELEFONO =  @TELEFONO)  AND (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_DELETE_USUARIO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DELETE_USUARIO]
(@USUARIO varchar(50))
AS 
 	Delete from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_DISMINUIR_CANTIDAD_PRODUCTO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_DISMINUIR_CANTIDAD_PRODUCTO]
(@ID int)
AS
	UPDATE PRODUCTO
	Set CANTIDAD_INVENTARIO= CANTIDAD_INVENTARIO - 1
	WHERE ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_CLIENTE]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50),@ID_PROVINCIA int,@ID_CANTON int,@CODIGO_POSTAL varchar(50),@COMENTARIO varchar(50), @ESTADO int)
AS 
 insert into CLIENTE(ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO ) 
 values(@ID ,@APELLIDO2 ,@APELLIDO1 ,@NOMBRE ,@DIRECCION ,@ID_PROVINCIA ,@ID_CANTON ,@CODIGO_POSTAL ,
 @COMENTARIO, @ESTADO  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_CORREO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_CORREO]
 (@CORREO varchar(50),@ID_CLIENTE int)
AS 
 insert into CORREO(CORREO ,ID_CLIENTE ) 
 values(@CORREO ,@ID_CLIENTE  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_PRODUCTO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_PRODUCTO]
 (@ID int, @DESCRIPCION varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO money,@ID_CATEGORIA int,@PRECIO_COLONES money,@PRECIO_DOLARES money,@IMAGEN varbinary(MAX))
AS 
 insert into PRODUCTO(ID ,DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN ) 
 values(@ID ,@DESCRIPCION ,@CANTIDAD_INVENTARIO ,@DESCUENTO ,@ID_CATEGORIA ,@PRECIO_COLONES ,@PRECIO_DOLARES ,@IMAGEN  )
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_TELEFONO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_TELEFONO]
 (@TELEFONO varchar(50),@ID_CLIENTE int)
AS 
 insert into TELEFONO(TELEFONO ,ID_CLIENTE ) 
 values(@TELEFONO ,@ID_CLIENTE  ) 
GO
/****** Object:  StoredProcedure [dbo].[PA_INSERT_USUARIO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_INSERT_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 insert into USUARIO(USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN ) 
 values(@USUARIO ,@PASSWORD ,@ID_CATEGORIA ,@IMAGEN  )
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CANTON_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CANTON_All]
 AS 
 	Select ID ,ID_PROVINCIA ,DESCRIPCION  from CANTON
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_All]
 AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO  
	from CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByFilter]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByFilter]
(@filtro varchar(50))
As
	Select * 
	from CLIENTE 
	where NOMBRE + APELLIDO1 + APELLIDO2 like @filtro
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CLIENTE_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CLIENTE_ByID] 
(@ID int)
AS 
 	Select ID ,APELLIDO2 ,APELLIDO1 ,NOMBRE ,DIRECCION ,ID_PROVINCIA ,ID_CANTON ,CODIGO_POSTAL ,COMENTARIO, ESTADO  
	from CLIENTE
	Where (ID =  @ID)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_All]
 AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_ByID] 
(@ID_CLIENTE int)
AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_CORREO_Filter]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_CORREO_Filter]
(@CORREO varchar(50))
AS 
 	Select CORREO ,ID_CLIENTE  from CORREO
	Where (CORREO =  @CORREO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_All]
 AS 
 	Select DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN  from PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_ByDescripcion]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_ByDescripcion] 
(@filtro varchar(50))
AS 
 	Select DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN  from PRODUCTO
	Where (DESCRIPCION = @filtro)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PRODUCTO_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PRODUCTO_ByID] 
(@ID int)
AS 
 	Select DESCRIPCION ,CANTIDAD_INVENTARIO ,DESCUENTO ,ID_CATEGORIA ,PRECIO_COLONES ,PRECIO_DOLARES ,IMAGEN  from PRODUCTO
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_PROVINCIA_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_PROVINCIA_All]
 AS 
 	Select ID ,DESCRIPCION  from PROVINCIA
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_All]
 AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByFilter]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByFilter] 
(@TELEFONO varchar(50))
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (TELEFONO =  @TELEFONO)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_TELEFONO_ByID]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_TELEFONO_ByID] 
(@ID_CLIENTE int)
AS 
 	Select TELEFONO ,ID_CLIENTE  from TELEFONO
	Where (ID_CLIENTE =  @ID_CLIENTE)
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_All]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_All]
 AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
GO
/****** Object:  StoredProcedure [dbo].[PA_SELECT_USUARIO_ByUsuario]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_SELECT_USUARIO_ByUsuario]
(@USUARIO varchar(50))
AS 
 	Select USUARIO ,PASSWORD ,ID_CATEGORIA ,IMAGEN  from USUARIO
	Where (USUARIO =  @USUARIO)
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_CLIENTE]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_CLIENTE]
 (@ID int, @APELLIDO2 varchar(50), @APELLIDO1 varchar(50), @NOMBRE varchar(50), @DIRECCION varchar(50), @ID_PROVINCIA int, @ID_CANTON int, @CODIGO_POSTAL varchar(50) ,@COMENTARIO varchar(50), @ESTADO int)
AS 
 	Update  CLIENTE
	Set 	APELLIDO2 =  @APELLIDO2  ,
	APELLIDO1 =  @APELLIDO1  ,
	NOMBRE =  @NOMBRE  ,
	DIRECCION =  @DIRECCION  ,
	ID_PROVINCIA =  @ID_PROVINCIA  ,
	ID_CANTON =  @ID_CANTON  ,
	CODIGO_POSTAL =  @CODIGO_POSTAL  ,
	COMENTARIO =  @COMENTARIO  ,
	ESTADO = @ESTADO
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_CORREO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_CORREO]
(@CORREO_VIEJO varchar(50), @ID_CLIENTE_VIEJO int, @CORREO_NUEVO varchar(50), @ID_CLIENTE_NUEVO int)
AS
	Update CORREO
	SET CORREO.CORREO = @CORREO_NUEVO, CORREO.ID_CLIENTE = @ID_CLIENTE_NUEVO
	where CORREO.CORREO = @CORREO_VIEJO and CORREO.ID_CLIENTE = @ID_CLIENTE_VIEJO
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_PRODUCTO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_PRODUCTO]
 (@ID int,@DESCRIPCION varchar(50),@CANTIDAD_INVENTARIO int,@DESCUENTO money,@ID_CATEGORIA int,@PRECIO_COLONES money,@PRECIO_DOLARES money,@IMAGEN varbinary(MAX))
AS 
 	Update  PRODUCTO
	Set 	DESCRIPCION =  @DESCRIPCION  ,
	CANTIDAD_INVENTARIO =  @CANTIDAD_INVENTARIO  ,
	DESCUENTO =  @DESCUENTO  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	PRECIO_COLONES =  @PRECIO_COLONES  ,
	PRECIO_DOLARES =  @PRECIO_DOLARES  ,
	IMAGEN =  @IMAGEN  
	Where (ID =  @ID)  
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_TELEFONO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_TELEFONO]
(@TelefonoNuevo varchar(50), @IdClienteNuevo int, @TelefonoViejo varchar(50), @IdClienteViejo int)
AS
	Update TELEFONO Set TELEFONO = @TelefonoNuevo, ID_CLIENTE = @IdClienteNuevo
            where TELEFONO = @TelefonoViejo and ID_CLIENTE = @IdClienteViejo
GO
/****** Object:  StoredProcedure [dbo].[PA_UPDATE_USUARIO]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_UPDATE_USUARIO]
 (@USUARIO varchar(50),@PASSWORD varchar(50),@ID_CATEGORIA int,@IMAGEN varbinary(MAX))
AS 
 	Update  USUARIO
	Set 	PASSWORD =  @PASSWORD  ,
	ID_CATEGORIA =  @ID_CATEGORIA  ,
	IMAGEN =  @IMAGEN  
	Where (USUARIO =  @USUARIO)  
GO
/****** Object:  StoredProcedure [dbo].[RestarCantidadProductos]    Script Date: 07/04/2023 07:43:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestarCantidadProductos]
(@ID int, @CANTIDAD int)
AS
	Update PRODUCTO 
    SET CANTIDAD_INVENTARIO = CANTIDAD_INVENTARIO - @CANTIDAD
    where ID = @ID
GO
